
{{#each blogPosts}}
<section id="feedDiv">
  <div class="card text-center" id="feedCards">
    <h3>{{title}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">{{user.username}} <br>{{format_date date_posted}} </h5>
    <h4 class="card-text content">{{content}}</h3>
    
    {{#each comments}}
    <div id="commentSection">
        <div class="card-footer comments">
          {{this.content}} <br> By: {{comment_author.username}} on {{format_date this.date_posted}}
        </div>
    {{/each}}
      <form action="/api/comment" method="post">
        <div class="input-group">
        <input type="hidden" name="associatedPost" value="{{id}}">
        <input type="text" class="form-control" name="content" placeholder="Thoughts?" aria-label="Username" aria-describedby="input-group-button-right">
         <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Submit Comment</button>
        </div>
      </form>
      <div class="card-footer text-muted">
        Posted: {{format_date date_posted}}
      </div>
    </div>
  </div>
</section>
{{/each}}
