{{#if logged_in}}
  <section class="hpContent">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Write A Blog Post Now!</h5>
          <form id="blogForm" method="post" action="/api/blog">
            <input type="text" id="blogTitle" class="form-control" placeholder="Blog Post Title" name="title">
            <textarea class="form-control" id="blogContent" rows="5" placeholder="What's on your mind?" name="content"></textarea>
              <button type="submit" class="btn btn-primary" id="signInButton">Post Blog</button>
          </form>
      </div>     
    </div>
    {{#each blogPosts}}
    <div class="card featuredPost" id="featuredPost">
      <div class="card-header">
        Featured Post
      </div>
      <div class="card-body">
        <h4 class="card-title">{{title}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">By: {{user.username}}</h6>
        <p class="card-text">{{content}}</p>
        <a href="/feed" class="btn btn-primary">View Your Feed</a>
      </div>
      <div class="card-footer text-muted">
      {{format_date date_posted}}
      </div>
    </div>
    {{/each}}
</section>
{{else}}
<section class="hpContent">
    <div class="card" id="feedCards">
      <div class="card-body">
        <h5 class="card-title">WELCOME TO TECH BLOG</h5>
        <h6 class="card-subtitle mb-2 text-muted">Where Tech Meets Innovation</h6>
        <p class="card-text">At Tech Blog, we're passionate about all things tech. Our mission is to bring you the latest insights, trends, and innovations in the world of technology. Whether you're a seasoned developer or just tech-curious, you've come to the right place. Explore our engaging articles, tutorials, and reviews to stay at the forefront of the digital revolution.</p>
        <a href="/login" class="card-link">Sign-In</a>
        <a href="/signup" class="card-link">Sign-Up</a>
      </div>     
    </div>
    {{#each blogPosts}}
    <div class="card" id="feedCards">
      <div class="card-header">
        Featured Post
      </div>
      <div class="card-body">
        <h4 class="card-title">{{title}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">By: {{user.username}}</h6>
        <p class="card-text">{{content}}</p>
        <a href="/signup" class="btn btn-primary">View Your Feed</a>
      </div>
      <div class="card-footer text-muted">
      {{format_date date_posted}}
      </div>
    </div>
    {{/each}}
</section>
{{/if}}
 <script>
        document.getElementById("blogForm").addEventListener("submit", function(event) { 
        event.preventDefault();
        var form = document.getElementById("blogForm")
        form.submit();
        form.reset()
        });
  </script>

